button {
    background-color: rgba(255, 255, 0, 0.81);
}

#hero-section {
    min-width: 100rem;
    height: 40vw;
    background-image: url("../Images/Nature/hero_cropped.jpg");
    background-size: 100%;
    max-height: 45rem;
}

#hero-section h1 {
    color: white;
    font-size: 5rem;
    font-weight: lighter;

    position: absolute;
    left: 10rem;
    top: 17rem;
}

.store_button {
    position: absolute;
    left: 53rem;
    top: 31rem;
    border: none;
    scale: 150%;

}


#sort_product_heading {
    display: flex;
    padding-top: 10rem;
    padding-bottom: 3rem;
    justify-content: center;
}

/*******************************************************************************
                        PRODUCT TYPES
 *******************************************************************************/
#product_types_container {
    display: flex;
    justify-content: center;
    padding-top: 0;
    position: relative;
    padding-bottom: 2rem;
}

.sweaters, .hiking_shoes, .hats, .dog_clothing {
    margin-right: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}


.all_products {
    margin-left: 58rem;
    scale: 125%;
    margin-bottom: 5rem;
}


/*******************************************************************************
                        REVIEWS
 *******************************************************************************/


#reviews {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.inspiring_text {
    font-weight: lighter;
    font-size: 3rem;
}

.more_inspiring_text {
    position: absolute;
    left: 85rem;
    top: 110rem;
    scale: 125%;
}


/*******************************************************************************
                        OFFERS
 *******************************************************************************/

#offers {
    display: flex;
    position: relative;
    justify-content: center;
    margin-left: 23rem;
    background-image: url("../Images/Hats/hat_offer_final.jpg");
    min-height: 25rem;
    max-width: 80rem;
    max-height: 45rem;
    margin-bottom: 5rem;
}

#offers h1 {
    font-weight: lighter;
    font-size: 4rem;
    position: absolute;
    left: 5rem;
    top: 6rem;
}


.offers_button {
    position: absolute;
    left: 13rem;
    top: 16rem;
    height: 2.5rem;
    width: 10rem;
}

.offer_price {
    font-weight: bolder;
    font-size: 5rem;
}


/*******************************************************************************
                        CONSULTING
 *******************************************************************************/

#we_help_you {
    position: relative;
    display: flex;
    margin-top: 10rem;
    margin-bottom: 10rem;
    justify-content: center;
    flex-wrap: wrap;
}

.help_text {
    font-weight: lighter;
    font-size: 3rem;
}

.contact_button {
    position: absolute;
    left:85rem;
    margin-top: 2rem;
}




/*******************************************************************************
                        EXPERIENCES
 *******************************************************************************/

#experience_container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: 7rem;
    margin-bottom: 10rem;
}


#pic1_header {
    position: absolute;
    top: 18rem;
    left: 3rem;
    font-size: 2.5rem;
    color: white;
    outline: black;
    font-weight: lighter;
}

.Read_more_pic1 {
    position: absolute;
    top: 40rem;
    left: 10rem;
}

.picture_1 {
    position: absolute;
}


.picture_2 {
    position: absolute;
    left: 52rem;
}

.Read_more_pic2 {
    position: absolute;
    left: 10rem;
    top: 13rem;
}

#pic2_header {
    position: absolute;
    top: 5rem;
    left: 5rem;
    font-size: 2.5rem;
    outline: black;
    font-weight: lighter;
}

#pic2_overlay {
    background-color: #2a1100;
    opacity: 50%;
    width: 100%;
    height: 100%;
}


.picture_3 {
    position: absolute;
    left: 52rem;
    top: 35rem;
    max-height: 10rem;
}

.Read_more_pic3 {
    position: absolute;
    left: 10rem;
    top: 15rem;
}

#pic3_header {
    position: absolute;
    left: 2rem;
    top: 5rem;
    color: white;
    font-weight: lighter;
    font-size: 2.5rem;
}

/*******************************************************************************
                        OFFERS
 *******************************************************************************/

#offers {
    position: relative;
    margin-bottom: 10rem;
}


/*******************************************************************************
                        BOTTOM
 *******************************************************************************/

#footer-content {
    position: absolute;
    top:250rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: forestgreen;
    width:100vw;

}

#footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 2rem;
}