@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');

html {
    font-size: 62.5%;
    background-color: rgba(164, 238, 144, 0.2);

    font-family: 'Karla', sans-serif;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

button {
    background-color: forestgreen;
}


/*******************************************************************************
                        TOP BAR
 *******************************************************************************/

.top_bar {
    display: flex;
    justify-content: space-between;
    background-color: forestgreen;
    align-items: center;
    margin-bottom: 2rem;;
}

.right_flex_top {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
}

.center_bar, .left_bar {
    font-weight: bold;
}

.about_us {
    margin: 0 5px;
}

.Log_in {
    margin: 0 5px;
}


.left_bar {
    font-size: 2rem;


}

.center_bar {
    font-size: 2rem;
}


/*******************************************************************************
                        HERO SECTION
 *******************************************************************************/

#hero-section {
    min-width: 100rem;
    height: 40vw;
    background-image: url("/Images/Nature/hero_cropped.jpg");
    background-size: 100%;
    max-height: 45rem;
}

#hero-section h1 {
    color: white;
    font-size: 3rem;
    font-weight: normal;

    position: absolute;
    left: 10rem;
    top: 17rem;
}

#hero_button {
    background-color: forestgreen;
    position: absolute;
    left: 53rem;
    top: 25rem;
    border: none;
    scale: 150%;

}


#sort_product_heading {
    display: flex;
    padding-top: 10rem;
    padding-bottom: 3rem;
    justify-content: center;
}

/*******************************************************************************
                        PRODUCT TYPES
 *******************************************************************************/
#product_types_container {
    display: flex;
    justify-content: center;
    padding-top: 0;
    position: relative;
    padding-bottom: 2rem;
}

.sweaters, .hiking_shoes, .hats, .dog_clothing {
    margin-right: 2rem;
    font-weight: bold;
}


#all_products {
    margin-left: 58rem;
    scale: 125%;
    margin-bottom: 5rem;
}


/*******************************************************************************
                        EXPERIENCES
 *******************************************************************************/

