
/**
Css for products
 */
html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}

/**
Css for columns
 */

/*
Css for left column
 */
.left-column{
    width: 65%;
    position: relative;
}

.left-column img{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.left-column img.active{
    opacity: 1;
}

/*
Css for right column
 */
.right-column{
    width: 35%;
    margin-top: 60px;
}

.product-headline{
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

.product-headline span{
    font-size: 12px;
    color: dodgerblue;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.product-headline h1 {
    font-weight: 300;
    font-size: 52px;
    color: darkgrey;
    letter-spacing: -2px;
}


/**
Css for color selection
 */

.product-color {
    margin-bottom: 30px;
}

.choose-color div {
    display: inline-block;
}

.choose-color input[type="radio"] {
    display: none;
}

.choose-color input[type="radio"]+label {
    border: 2px solid white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.choose-color label {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
}

/**
Input field used for javascript
 */
.choose-color input[type="radio"]#Grey+label {
    background-color: grey;
}

.choose-color input[type="radio"]#White+label {
    background-color: white;
}

/**
Border size of the checked color
 */
.choose-color input[type="radio"]:checked + label {
    box-shadow: 0 0 0 0.5px black;
}


/**
Css for size selection
 */

.product-size {
    margin-bottom: 30px;
}

.choose-size div {
    display: inline-block;
}

.choose-size input[type="radio"] {
    display: none;
}

.choose-size input[type="radio"]+label {
    border: 2px solid white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.choose-size label {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


.choose-size input[type="radio"]#XS+label {
    background-color: white;
}

.choose-size input[type="radio"]#S+label {
    background-color: white;
}

.choose-size input[type="radio"]#M+label {
    background-color: white;
}

.choose-size input[type="radio"]:checked + label {
    box-shadow: 0 0 0 2px black;
}


/**
Css for product price and shopping cart button
 */

.product-price {
    display: flex;
    align-items: center;
}

.product-price span {
    font-size: 26px;
    font-weight: 300;
    margin-right: 20px;
}

.cart-button {
    display: inline-block;
    background-color: blue;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 12px 30px;
}




/**
Css for star rating (WIP)
 */
*{
    margin: 0;
    padding: 0;
}

/**
Sets the position of the rating
 */
.rate {
    position: relative;
    height: 46px;
    padding: 0;
}


.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

/**
Hides extra text making only the stars visible
 */
.rate:not(:checked) > label {
    float: right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:25px;
    color:#ccc;
}

/**
Makes the checkboxes become stars
 */
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}



