<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="html_fragments :: html_header">
    header
</head>
<body>
<header th:replace="html_fragments :: header">
    Site header
</header>

<section class="vh-100 bg-image"
         style="background-image: url('/Image/Background.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px; width: 45rem; position: center">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <form th:action="@{/auth/login}" th:object="${user}" method="post">

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example3cg">Email</label>
                                    <input type="email" th:field="*{email}" id="form3Example3cg" class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form3Example4cg">Password</label>
                                    <input type="password" th:field="*{password}" id="form3Example4cg" class="form-control form-control-lg" />
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">Don't have an account?
                                    <span>Sign up now!</span> <a th:href="@{/register}" class="fw-bold text-body"> <u>Register</u> </a> </p>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<footer th:replace="html_fragments :: footer">
    Site footer
</footer>
</body>
</html>