<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="html_fragments :: html_header">
    Standard header
</head>
<body>
<header th:replace="html_fragments :: header">
    General header
</header>


<div class="container-fluid text-center">

        <th:block th:each="product : ${listProducts}">



            <section class="product_container">
                <div id="product_card" class="card" style="width: 18rem;">
                    <img class="card-img-top" th:src="${product.productImage}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">[[${product.productName}]]</h5>
                        <p class="card-text">[[${product.productDesc}]]</p>
                        <a th:href="@{'/products/productCards/' + ${product.id}}" class="btn btn-primary">Go somewhere</a>

                    </div>
                </div>
            </section>

        </th:block>

    </div>


<footer th:replace="html_fragments :: footer">
    Just a footer
</footer>
</body>
</html>