<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>[[${pageTitle}]]</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid">
  <div class="text-center"><h2>[[${pageTitle}]]</h2>
    <form th:action="@{/products/save}" method="post" th:object="${product}"
          style="max-width: 500px; margin: 0 auto;">
      <input type="hidden" th:field="*{id}">
      <div class="border border-secondary rounded p-3">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Product Name</label>
          <div class="col-sm-8">
            <input type="text" th:field="*{productName}" class="form-control"  required minlength="1" maxlength="45"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Product Category:</label>
          <div class="col-sm-8">
            <select th:field="*{productCategory}" id="test">
              <option value="Sweater">Sweater</option>
              <option value="Jacket">Jacket</option>
              <option value="Shoe">Shoe</option>
              <option value="Bottle">Bottle</option>
              <option value="Dog">Dog</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Price:</label>
          <div class="col-sm-8">
            <input type="number" th:field="*{price}" class="form-control" required minlength="1" maxlength="45"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Product Amunt:</label>
          <div class="col-sm-8">
            <input type="number" th:field="*{productAmount}" class="form-control" required minlength="1" maxlength="45"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">size</label>
          <div class="col-sm-8">
            <input type="text" th:field="*{size}" class="form-control" required minlength="1" maxlength="15" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Product Image</label>
          <div class="col-sm-8">
            <input type="text" th:field="*{productImage}" class="form-control" required minlength="1" maxlength="1000" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Product Description</label>
          <div class="col-sm-8">
            <input type="text" th:field="*{productDesc}" class="form-control" required minlength="1" maxlength="1000" />
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary m-2" >Save</button>
          <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
        </div>

      </div>


    </form>
  </div>
</div>

<script type="text/javascript">
  function cancelForm() {
    window.location = "[[@{/users}]]";
  }
</script>
</body>
</html>