button {
    background-color: rgba(255, 255, 0, 0.81);
}

/*******************************************************************************
                        REVIEWS
 *******************************************************************************/


#reviews {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.inspiring_text {
    font-weight: lighter;
    font-size: 3rem;
}

.more_inspiring_text {
    position: absolute;
    left: 85rem;
    top: 110rem;
    scale: 125%;
}


/*******************************************************************************
                        OFFERS
 *******************************************************************************/

#offers {
    display: flex;
    position: relative;
    justify-content: center;
    background-image: url("static/Images/Hats/hat_offer_final.jpg");
    min-height: 25rem;
    max-width: 80rem;
    max-height: 45rem;
    margin-bottom: 5rem;
}

#offers h1 {
    font-weight: lighter;
    font-size: 4rem;
    position: absolute;
    top: 6rem;
}


.offers_button {
    position: absolute;
    top: 16rem;
    height: 2.5rem;
    width: 10rem;
}

.offer_price {
    font-weight: bolder;
    font-size: 5rem;
}


/*******************************************************************************
                        CONSULTING
 *******************************************************************************/

#we_help_you {
    position: relative;
    display: flex;
    margin-top: 10rem;
    margin-bottom: 10rem;
    justify-content: center;
    flex-wrap: wrap;
}

.help_text {
    font-weight: lighter;
    font-size: 3rem;
}

.contact_button {
    position: absolute;
    left: 85rem;
    margin-top: 2rem;
}


/*******************************************************************************
                        EXPERIENCES
 *******************************************************************************/

#experience_container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,10vw);
    grid-gap: 5rem;
    grid-row-gap: 20rem;

}


/*******************************************************************************
                        OFFERS
 *******************************************************************************/

#offers {
    position: relative;
    margin-bottom: 10rem;
}


/*******************************************************************************
                        BOTTOM
 *******************************************************************************/

#footer-content {
    position: absolute;
    top: 250rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: forestgreen;
    width: 100vw;

}

#footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 2rem;
}