/*******************************************************************************
                        PRODUCT OVERVIEW
 *******************************************************************************/

* {
    margin: 0;
    padding: 0;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: forestgreen;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

#product_container {
    display: flex;
    justify-content: center;
    padding-top: 0;
    margin-left: 240px;
    margin-top: 200px;
    position: relative;
    padding-bottom: 2rem;
}

/*******************************************************************************
                        SIDE NAVIGATION BAR
 *******************************************************************************/

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 0;
    background-color: #d3f1d9;
    overflow-x: hidden;
    padding-top: 20px;
    font-family: Arial;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 24px;
    color: #111111;
    display: block;
}

.sidenav b {
    padding: 12px 8px 12px 16px;
    text-decoration: none;
    font-size: 32px;
    color: #111111;
    display: block;
}

.sidenav a:hover {
    color: #174921;
}

/*******************************************************************************
                        SEARCHBAR
 *******************************************************************************/


.searchbar input[type=text] {
    float: right;
    background-color: rgba(170, 170, 170, 0.32);
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 35rem;
    font-size: 24px;
}