@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');

html {
    font-size: 62.5%;
    font-family: 'Karla', sans-serif;
    background: #ece9e6;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

button {
    background-color: rgba(255, 255, 0, 0.81);
}

/*******************************************************************************
                        HERO SECTION
 *******************************************************************************/




#hero_button {
    position: absolute;
    left: 53rem;
    top: 31rem;
    border: none;
    scale: 150%;

}


#sort_product_heading {
    display: flex;
    padding-top: 10rem;
    padding-bottom: 3rem;
    justify-content: center;
}


/*******************************************************************************
                        REVIEWS
 *******************************************************************************/


#reviews {
    padding-top: 5rem;
    padding-bottom: 10rem;
}
.inspiring_text {
    font-weight: lighter;
    font-size: 3rem;
    margin-left: 23rem;
}

.more_inspiring_text {
    position: absolute;
    left: 85rem;
    top:110rem;
    scale:125%;
}





